<div class="well part-well" style="margin-right:auto;margin-left:auto; max-width:800px;">
  <h1 class="part text-center">Partners</h1>
    <% @partners.each do |partner| %>
    	<div class="row index" style="display: inline-block;">
    		<%= link_to profile_path(partner.username) do %>
    		<%= image_tag partner.image_url(:avatar).to_s, class: 'img-rounded' %>
    	</div>
        <% end %>
    <% end %>
</div>