<div class="well" style="margin-right:auto;margin-left:auto; max-width:200px;">
  <h1>Partners</h1>
  <ul>
    <% @partners.each do |partner| %>
      <li>
        <%= link_to partner.username do %> 
      	 <%= partner.username %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>