// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img {
	height: 200px;
	width: 180px;
}

.form {
	margin-top: -60px;
}

/* .arrow-prev {
	display: inline-block;
}

.arrow-next {
	display: inline-block;
}  */