img.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

img.img-circle {
	margin-top: 20px;
	margin-left: 40px;
}

 .bio h5, h4 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
}

.bio h3 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.bio h5 {
	font-weight: 100;
	line-height: 0.9;
}

.row {
	padding-top: 20px;
}