img.img-circle {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}


img.img-circle {
	margin-top: -60px;
	margin-left: 60px;
}

.bio, .info {
	padding-left: 0px;
}

 .bio h5 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
}

.bio h3 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.bio h5 {
	font-weight: 100;
	line-height: 0.9;
}

.row {
	padding-top: 20px;
	
	margin-left: auto;
	margin-right: auto;
}

.info {
	margin-left: 40px;
	padding-top: 10px;
}