img.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
<<<<<<< HEAD

img.img-circle {
	margin-top: 20px;
	margin-left: 40px;
}

 .bio h5 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
}

.bio h3 {
	padding-left: 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.bio h5 {
	font-weight: 100;
	line-height: 0.9;
}

.row {
	padding-top: 20px;
	
	margin-left: auto;
	margin-right: auto;
}

.info {
	margin-left: 30px;
	padding-top: 10px;
}
=======
>>>>>>> 635a7b70783a009bb6b645f8455131233d3b78ff
