<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700' rel='stylesheet' type='text/css'>


<div class="header">
<h1>Products</h1>
</div>
<div class="main">
  <% @products.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% for product in group %>
        <%= render product %>
      <% end %>
    </div>
  <% end %>

  <br>
  <%= link_to 'New Product', new_product_path %>
</div>
