
<%= image_tag(current_partner.store.image_url(:avatar).to_s, class: 'img-circle') if current_partner.store.image? %>

<p><%= current_partner.store.brand_bio %></p>

<% current_partner.products.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <% for product in group %>
      <%= render product %>
    <% end %>
  </div>
<% end %>

<br />
<%= link_to 'New Product', new_product_path %>
